#navigator_page{ "data-role" => "page" }
  %div{ "data-role" => "header" }
    %h1= t("waiter.header")
  .content{ "data-role"  => "content" }
    %a{ :href => new_order_path, "data-role" => "button" }= t("waiter.order")

  .content{ "data-role" => "content" }
    %ul#orders{ "data-role" => "listview", "data-theme" => "c", "data-dividertheme" => "b" }
      %li{"data-role" => "list-divider", :role => "heading"}= t("order.pending_header")
      - Order.pending.each do |order|
        %li
          %a{ "data-order-id" => order.id, :href => edit_order_path(order) }
            Order: #{t("order.table_no", :no => order.table_number)}
