%ul.order_items{ "data-role" => "listview", "data-theme" => "c", "data-dividertheme" => "b", "data-order-id" => order.order_id }
  %li{"data-role" => "list-divider", :role => "heading"}
    = order.name
    %span.ui-li-count= order.ordered_time
  = render order.order_items
