#default_page{ "data-role" => "page" }
  %ul{ "data-role" => "listview", "data-theme" => "c", "data-dividertheme" => "b" }
    %li{"data-role" => "list-divider"}= t("waiter.header")
    %li
      %a{ :href => "#table_selector_page" }= t("waiter.order_table")
