#default_page{ "data-role" => "page" }
  %div{ "data-role" => "header" }
    %h1= t("waiter.header")
  %ul{ "data-role" => "listview", "data-theme" => "c", "data-dividertheme" => "b" }
    %li
      %a{ :href => "#table_selector_page" }= t("waiter.order_table")
