%li.order_item{ "data-order-item-id" => order_item.order_item_id, "data-order-id" => order_item.order_id, "data-item-id" => order_item.item_id, "data-count-theme" => order_item.theme }
  %a{ :href => "#" }
    %span
      = order_item.item_name
      %em= order_item.descriptive_notes
    %span.ui-li-count
      &nbsp;
  .right.floated{"data-type" => "horizontal"}
    - [:ready, :served, :paid].each do |state|
      %a{ mark_state_button_attributes(order_item, state) }
