%li{ "data-order-item-id" => order_item.order_item_id, "data-order-id" => order_item.order_id, "data-item-id" => order_item.item_id, "data-count-theme" => order_item.theme }
  %a
    %span= order_item.item_name
    %span.ui-li-count &nbsp;
  %a{ "data-role" => "button", "data-icon" => "star", "data-theme" => "c", "data-remote" => "true", "data-method" => :put, :href => mark_ready_order_item_path(order_item) }
    = t("buttons.mark_ready")
