%li{ "data-item-id" => f.object.item_id, "data-order-item-price" => f.object.price }
  %a
    .relative
      %span= f.object.item_name
      %span.ui-li-count
        %img.ui-icon-ires{ :class => "ui-icon-" + f.object.serve_icon }
  %a.remove{ "data-role" => "button", "data-inline" => "true", "data-icon" => "delete", :style => f.object.remove_visibility_style }
  %div
    = f.hidden_field :_destroy
    = f.hidden_field :item_id
