.hidden
  display: none

.nopadding.ui-content
  padding: 0

.left
  float: left

.centered
  text-align: center

.clear
  clear: both

.pushed.down
  margin-top: 20px

.bordered.top
  border-top: solid 1px gray