.hidden
  display: none

.nopadding.ui-content
  padding: 0

.left
  float: left

.centered
  text-align: center

.clear
  clear: both

.fullsize
  width: 100%
  height: 100%

.ui-mobile
  .ui-page.fixed
    position: fixed

.pushed.down
  margin-top: 20px

.bordered.top
  border-top: solid 1px gray
